<html>
	<head>
		<meta charset="utf-8" />
		<title> PIEDRA, PAPEL Y TIJERA </title>
		<link rel = "stylesheet" type = "text/css" href= "/style.css"/>
	</head>
	<body>
		<h1> Piedra, Papel y Tijera </h1>
			<%= yield %>
	</body>
</html>
