<form method="post" action="/throw">
	<h2>Seleccione:</h2>
		<h3>
			<td>
				<tr> Piedra <input type="radio" name="type" value="piedra"> 
				<br> Papel  <input type="radio" name="type" value="papel"> 
				<br> Tijera <input type="radio" name="type" value="tijera"> </tr>
				<br><input type="submit" value="Enviar"> </tr>
			</td>
		</h3>
		<img src="http://fashionablygeek.com/wp-content/uploads/2010/07/Rock_Paper_Scissor_Hold.jpg?cb5e28" height="40%" width="30%">
</form>
